body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Add this style to ensure the background color covers the entire page */
html, body {
  height: 100%;
}
#titleName {
  color: gold;

}
main {
  position: relative;
  z-index: 1; /* Ensure the main content appears above the video */
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.background {
  background-color: #1d1212;
  width: 100%;
  min-height: 100%;
  position: relative;
}


@keyframes blink {
  0% { border-color: rgb(255, 145, 0); }
  50% { border-color: transparent; }
  100% { border-color: rgb(29, 18, 18); }
}

.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  animation: blink 1s linear infinite;
}

.samples {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#SamplesH {
  text-align: center;
  color: #ddd;
  justify-content: center;
  animation: blink 1s linear infinite;
}

.MemoriesFont {
  color: #ffd700; /* Gold color */
  text-align: center;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a subtle text shadow */
}


.topHeader {
  justify-content: center;
  display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically within the container */
}

.logo {
  border: #000000;
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin for spacing between logo and text */
}

.topBanner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 35px;
  border: 1px solid #171717;
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
  width: 96%;
  left: 1%;
}

.topBanner button {
  width: 180px;
  height: 80px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.topBanner button:hover {
  background-color: #ddd;
  color: black;
}

.topBanner button.active {
  background-color: dodgerblue;
  color: white;
}

.bookBooth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.bookBooth h3 {
  color: whitesmoke;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer button {
  text-align: center;
  padding: 20px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #331414;
  color: black;
}

.buttonContainer button.active {
  background-color: rgb(13, 20, 28);
  color: rgb(0, 0, 0);
}

.quoteBtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px black;
  cursor: pointer;
  border-radius: 25%;
}

.quoteBtn:hover, .dropdown:focus {
  background-color: #141f27;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* this is the form below homepage */


.form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  padding-left: 20px;
  padding-right: 20px; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(255, 255, 255, 0.3) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3) !important; }
  .form-control:focus, .form-control:active {
    border-color: #bc9864 !important;
    background: rgba(255, 255, 255, 0.1); }

textarea.form-control {
  height: inherit !important; }

.wrapper {
  width: 100%; }

.contact-wrap h3 {
  color: #fff; }

.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .dbox {
      margin-bottom: 0;
      padding: 0; } }
  .dbox p {
    margin-bottom: 0; }
    .dbox p span {
      font-weight: 500;
      color: #bc9864;
      display: block; }
    .dbox p a {
      color: rgba(255, 255, 255, 0.8); }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #bc9864;
    margin: 0 auto;
    margin-bottom: 20px; }
    .dbox .icon span {
      font-size: 20px;
      color: #000; }
  .dbox .text {
    width: 100%; }

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .btn:hover, .btn:active, .btn:focus {
    outline: none !important;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
  .btn.btn-primary {
    background: #bc9864 !important;
    border-color: #bc9864 !important;
    color: #000;
    text-transform: uppercase;
    font-weight: 600; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      border-color: #a57f48 !important;
      background: #a57f48 !important; }

      .animated-form {
        opacity: 100;
        transform: translateY(20px);
        transition: opacity 1s, transform 1s;
      }
      
/* how it works section below */
.howItWorks {
  z-index: 1;
  text-align: center;
  background: white;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin-bottom: 0.625rem;
}

.howItWorks h2 {
  color: #333; /* Adjust the color as needed */
  margin-bottom: 0.5rem;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 0.75rem;
  padding: 1.5rem 9.0909090909% 1.5rem;
}

.steps-item {
  flex: 1 0 calc(23% - 1em); /* Adjust the width of each box */
  box-sizing: border-box;
  margin: 1em;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f9f9f9;
}

.steps-item h3 {
  margin-bottom: 10px;
}

/* how it works section ends */

.ourServices {
  text-align: center;
  background: white; /* Adjust the background color as needed */
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin-bottom: 0.625rem;
  position: relative; /* Make it a positioning context for absolute positioning */
}

.ourServices h2 {
  color: #000000; /* Adjust the color as needed */
  margin-bottom: 0.5rem;
}

.service-container {
  background-color: white;
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 0.75rem;
  margin-bottom: 0.625rem;
  padding: 0.875rem 9.0909090909% 1.5rem;
}

.service-item {
  flex: 1 0 calc(50% - 2em); /* Two items per row, considering margin */
  box-sizing: border-box;
  margin: 1em;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 200px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
}

.service-item img {
  width: 100%; /* Take up full width of the parent */
  height: 100%; /* Take up full height of the parent */
  object-fit: cover; /* Resize the image to cover the container, cropping it if necessary */
  margin: 0 auto; /* Center the image horizontally */
}


.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #ffffff; /* Text color for both states */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
  line-height: 1.2; /* Adjust the line height as needed */
  max-width: 80%; /* Adjust the maximum width as needed */

  transition: opacity 0.5s ease;
}

.initial-text {
  opacity:1 ; /* Adjust the initial opacity as desired */
}

.hover-text {
  opacity: 1; /* Adjust the hover opacity as desired */
  display: none;
}

.overlay:hover .initial-text {
  opacity: 0;
}

.overlay:hover .hover-text {
  display: block;
}

/* footer css */
/* Add this style to ensure the background color covers the entire page */
/* Add this style to ensure the background color covers the entire page */
html, body {
  height: 100%;
}

footer {
  background-color: #1d1212;
  color: #fff;
  padding: 30px 0;
  text-align: center; /* Center the content within the footer */
}

.footer-section {
  flex: 1 0 25%;
  box-sizing: border-box; /* Add this line to include border and padding in the total width */
  margin: 1em;
}

.footer-container {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  z-index: 1;
  flex: 1 0 25%;
  box-sizing: border-box;
  margin: 1em;
}

.footer-section h3 {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Space the icons equally */
}

.social-icons li {
  margin-right: 10px;
}

/* Increase the font size of the social icons */
.social-icons a i {
  font-size: 30px; /* Adjust the size as needed */
}

.bottom-bar {
  margin-top: 20px;
}

/* Center the content within the bottom-bar */
.bottom-bar p {
  margin: 0;
}



/* Footer */
/* Add this style to ensure the background color covers the entire page */

/* Footer CSS */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

footer {
  background-color: #1d1212;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, equal width */
  gap: 20px; /* Adjust the gap as needed */
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.contact-section, .social-contact-section {
  z-index: 1;
  background-color: #1d1212;
  padding: 20px;
  border: 1px solid #331414;
  border-radius: 10px;
  margin: 20px;
}

/* Adjust the left border to match the right border of the .footer-right element */
.contact-section {
  text-align: center;
  animation: fadeInUp 1s ease-out; /* Add fade-in animation */
  border-left: 1px solid #331414;
}

.footer-left {
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

.contact-section {
  text-align: center;
}

.formContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Move up by 20 pixels */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Move in from the left by 20 pixels */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.formGroup {
  margin-bottom: 20px;
}

label {
  color: #ddd;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}


button:hover {
  background-color: #141f27;
}

/* SlideShow */

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Center text within the slide */
  }
  
  .mySlides img {
    width: 100%; /* Make sure the image takes up the full width of the slide */
    height: auto; /* Maintain the aspect ratio of the image */
  }


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -0; /* Set a lower z-index to position it behind other elements */
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 50%;
  opacity: 0.15; /* Adjust the opacity as needed */
}
