html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
 /* background: linear-gradient(to bottom, rgb(245, 231, 231), white);*/
 background-color: rgba(0, 0, 0, 0.822);
  width: 100vw;
  height: 100vh;
}

@keyframes blink {
  0% {
    border-color: rgb(255, 145, 0);
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: rgb(29, 18, 18);
  }
}

.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  animation: blink 1s linear infinite;
}

.samples {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#SamplesH{
  text-align: center;
  color: #ddd;
  justify-content: center;
  animation: blink 1s linear infinite;
}
.MemoriesFont {
  color: #ffffff;
  text-align: center;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topHeader {
  justify-content: center;
}

.topBanner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 35px;
  border: 1px solid #171717;
  overflow: hidden;
  padding: 20px 10px;
  position: relative; /* Add this line */
  z-index: 1;
  width: 96%;
  left: 1%;
}

/* Style the header buttons */
.topBanner button {
  width: 180px; /* Adjust the width as needed */
  height: 80px;
  text-align:center;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

/* Change the background color on mouse-over */
.topBanner button:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current button */
.topBanner button.active {
  background-color: dodgerblue;
  color: white;
}

.bookBooth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.bookBooth h2 {
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer button {
  text-align: center;
  padding: 20px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

/* Change the background color on mouse-over */
.buttonContainer button:hover {
  background-color: #331414;
  color: black;
}

/* Style the active/current button */
.buttonContainer button.active {
  background-color: rgb(13, 20, 28);
  color: rgb(0, 0, 0);
}



.quoteBtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px black;
  cursor: pointer;
  border-radius: 25%;
}

/* Dropdown button on hover & focus */
.quoteBtn:hover, .dropdown:focus {
  background-color: #141f27;
}

/* The container <div> - needed to position the dropdown content */
.dropdown  {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.contactForm {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, .formButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.formButton {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}