body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Add this style to ensure the background color covers the entire page */
html, body {
  height: 100%;
}

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.background {
  background-color: rgba(0, 0, 0, 0.918);
  width: 100%;
  min-height: 100%;
  position: relative;
}


@keyframes blink {
  0% { border-color: rgb(255, 145, 0); }
  50% { border-color: transparent; }
  100% { border-color: rgb(29, 18, 18); }
}

.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  animation: blink 1s linear infinite;
}

.samples {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#SamplesH {
  text-align: center;
  color: #ddd;
  justify-content: center;
  animation: blink 1s linear infinite;
}

.MemoriesFont {
  color: #ffffff;
  text-align: center;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topHeader {
  justify-content: center;
}

.topBanner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 35px;
  border: 1px solid #171717;
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
  width: 96%;
  left: 1%;
}

.topBanner button {
  width: 180px;
  height: 80px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.topBanner button:hover {
  background-color: #ddd;
  color: black;
}

.topBanner button.active {
  background-color: dodgerblue;
  color: white;
}

.bookBooth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.bookBooth h3 {
  color: whitesmoke;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer button {
  text-align: center;
  padding: 20px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #331414;
  color: black;
}

.buttonContainer button.active {
  background-color: rgb(13, 20, 28);
  color: rgb(0, 0, 0);
}

.quoteBtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px black;
  cursor: pointer;
  border-radius: 25%;
}

.quoteBtn:hover, .dropdown:focus {
  background-color: #141f27;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* this is the form below homepage */
.contactForm {
  
  max-width: 400px;
  margin: 0 auto;
}

label {
  color: white;
  display: block;
  margin-bottom: 8px;
}

input, .formButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.formButton {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}


.howItWorks {
  text-align: center;
  background: white;
  width: fit-content;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
}



.steps-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 0.75rem;
  margin-bottom: 0.625rem;
  padding: 0.875rem 9.0909090909% 1.5rem;
}

.steps-item {
  flex: 1 0 21%; /* The 21% denotes the width of each box, you can adjust this value to fit your design */
  box-sizing: border-box;
  margin: 1em;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 0.75rem;
  margin-bottom: 0.625rem;
  padding: 0.875rem 9.0909090909% 1.5rem;
}

.service-item {
  flex: 1 0 21%;
  box-sizing: border-box;
  margin: 1em;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay-container {
  position: relative;
  width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 1;
}