html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
 /* background: linear-gradient(to bottom, rgb(245, 231, 231), white);*/
 background-color: rgba(0, 0, 0, 0.924);
  width: 100vw;
  height: 100vh;
}
.price-container {
    display: grid;
                      text-align: center;
                      grid-template-columns: 55% 35%;
                      grid-column-gap: 10%;
                      border: 1px solid #cfcfcf;
                      border-radius: 0.75rem;
                      margin-bottom: 0.625rem;
                      padding: 0.875rem 9.0909090909% 1.5rem;
  }
  
  .price-item {
   
    padding: 20px;
    text-align: center;
  }
  
  